<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot = "icon-only" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  <ion-searchbar></ion-searchbar>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot = "icon-only" name="options-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot = "icon-only" name = "star-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="changeView()">
      <ion-icon slot = "icon-only" name = "{{viewIcon}}"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-content>